streamlit==1.45.1
pandas==2.2.3
numpy==1.26.4          # avoid NumPy 2.x which can break pystan wheels
plotly==5.24.1
openpyxl==3.1.5
prophet==1.1.5         # slightly older, more stable on cloud
pystan==3.9.0
cmdstanpy==1.2.4       # harmless even if you force PyStan
streamlit-option-menu==0.4.0
seaborn==0.13.2
matplotlib==3.9.2
